:root {
    --bs-primary: #6200ea;
    --bs-body-color: #333;
    --bs-body-bg: #fff;
}

/* FAQ Styles */
.faq h2 {
    color: #3700b3;
}

.accordion-button {
    font-weight: 500;
}

.accordion-body {
    font-size: 15px;
    color: var(--bs-body-color);
}

/* Header & Footer */
header {
    background-color: var(--bs-primary);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

footer {
    background-color: #3700b3;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Navbar */
nav .nav-link.active {
    color: var(--bs-primary) !important;
    font-weight: bold;
}


/* Estilos para mantener el footer abajo */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}