:root {
    --bs-primary: #9800ea;
    --bs-body-color: #333;
    --bs-body-bg: #fff;
}

/* FAQ Styles */
.faq h2 {
    color: #9800ea;
}

.accordion-item {
    margin-bottom: 3.5px;
}

.accordion-button {
    font-weight: 500;
}

.accordion-body {
    font-size: 15px;
    color: var(--bs-body-color);
}

/* Header & Footer */
header {
    background-color: var(--bs-primary);
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

footer {
    background-color: var(--bs-primary);
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Navbar */
nav .nav-link.active {
    color: var(--bs-primary) !important;
    font-weight: bold;
}


/* Estilos para mantener el footer abajo */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Animacion animate__fadeIn */
.animate__animated {
    --animate-duration: 1.7s;
}

/*Color rosa a cada conteiner de pregunta*/
.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(98, 0, 234, 0.25); /* Violeta suave */
    outline: none;
}

.accordion-button:not(.collapsed) {
    background-color: #e9dcff; /* Fondo violeta claro al expandir */
    color: #6e0077;
}

.accordion-button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


/* Boton contactanos*/
.btn-rosa {
    background-color: #9800ea;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.btn-rosa:hover {
    background-color: #ac68ff;
    color: white;
}

/* Texto de contactenos */
.text-rosa {
    color: #ac68ff;
}


/* Diseño responsive para mobile */
@media (max-width: 576px) {
    .accordion-button {
        font-size: 1rem;
        padding: 1rem;
    }

    .accordion-body {
        font-size: 0.95rem;
        padding: 1.25rem;
        background-color: #fef6f9; /* rosa suave */
        border-radius: 0.5rem;
    }

    .accordion-item {
        margin-bottom: 1rem;
        border: none;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
}


/* Buscador de preguntas */
#faqSearch {
    max-width: 500px;
    border: 2px solid #ac68ff;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}
#faqSearch:focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 131, 255, 0.4);
    outline: none;
}

.form-container {
    background-color: #e0c9ff;
}


 .form-control:focus {
     border-color: #f000ff !important; /* Cambia este color por el que prefieras */
     box-shadow: 0 0 0 0.25rem rgb(201, 128, 206) !important; /* Esto añade un resplandor suave */
 }



